---
layout: default
---

<div class="home">

    <ul class="post-list grid" id="post-grid">
        <li class="grid-sizer"></li>
        {% for post in site.posts %}
        <li class="{% if post.width %}grid-item--width{{ post.width }}{% endif %} grid-item {% if post.type == 'info'%}info{% endif %}" data-image-url="{{ post.content }}" data-next-post="{{ post.next.id }}" data-post-prev="{{ post.previous.id }}" data-id="{{ post.id }}">
        <!--
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        -->

        <a href="{{ post.url | prepend: site.baseurl }}" class="post-link" ><img src="{{ post.preview }}" /></a>
        <div class="post-info">
            <span class="post-date">—{{ post.date | date: "%Y" }}.</span>
            <span class="post-title">{{ post.title }}</span>
            <div class="preview__share-buttons">
                <a href="//www.pinterest.com/pin/create/button/?url={{ post.url | prepend: site.baseurl }}&media={{ post.content | prepend: site.baseurl }}&description={{ post.title | prepend: "Alina Loseva: "}}" data-pin-do="buttonPin" data-pin-lang="ja" data-pin-config="above" data-pin-lang="ja" data-pin-color="red" data-pin-height="28"><img
                    src="//assets.pinterest.com/images/pidgets/pinit_fg_ja_rect_red_28.png" /></a>
                <div class="fb-like" data-href="{{ post.url | prepend: site.baseurl }}" data-layout="button" data-action="like" data-show-faces="false" data-share="false"></div>
            </div>
        </div>
        {% if post.type == 'info' %}
        {{ post.content }}
        {% endif %}
        </li>
        {% endfor %}
        <div class="pagination">
            {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
            {% else %}
            <span class="previous">Previous</span>
            {% endif %}
            <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
            {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path }}" class="next">Next</a>
            {% else %}
            <span class="next ">Next</span>
            {% endif %}
        </div>
    </ul>

</div>
