---
layout: default
---

<div class="home">

  <ul class="post-list grid">
      <li class="grid-sizer"></li>
    {% for post in site.posts %}
    <li class="{% if post.width %}grid-item--width{{ post.width }}{% endif %} grid-item">
      <!--
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        -->

        <a href="#" class="post-link"><img src="{{ post.preview }}" /></a>
        <div class="post-info">
            <span class="post-date">—{{ post.date | date: "%Y" }}.</span>
            <span class="post-title">{{ post.title }}</span>
        </div>
      </li>
    {% endfor %}
  </ul>

</div>
